/* Css cho trang đặt hàng*/
.main{
    width: 100%;
    height: 1000px;
    /* background-color: aqua; */
}

.main-tr{
    width: 30%;
    float: left;
    
}
.main-tr h3{
    font-size: 25px;
}
.main-tr form{
    padding: 5px 10px 5px 10px;
}
.main-tr form input{
    margin: 20px 10px;
    width: 300px;
    font-size: 15px;
    padding: 10px;
    border-radius: 7px;
}

.main-tr form textarea{
    margin: 20px 10px;
    width: 300px;
    font-size: 15px;
    padding: 10px;
    border-radius: 7px;
}

.main-giua{
    width: 30%;
    float: left;
    margin-left: 20px;
}
.main-giua h3{
    font-size: 25px;
}
.main-giua form{
    margin-left: 20px;
    font-size: 20px;
}
.main-giua form input{
    margin: 10px 0px;
    
}


.main-ph{
    width: 33%;
    float: left;
    margin-left: 20px;
    background-color: rgb(244, 244, 244);
    padding-left: 30px;
}
.main-ph h3{
    font-size: 20px;
}
.main-ph h2{
    font-size: 18px;
}
.main-ph .sp {
    width: 100%;
    height: 80px;
    /* background-color: aqua; */
}
.main-ph .sp img{
    width: 80px;
    height: 80px;
    float: left;
}
.main-ph .sp p{
    float: left;
    margin-left: 40px;
    font-size: 18px;
}
.main-ph .tamtinh h3{
    /* float: left; */
    font-size: 16px;

}
.main-ph .tamtinh h2{
    float: left;
    font-size: 17px;
}
.main-ph .tamtinh h3{
    padding-top: 16px;
    padding-left: 300px;
    font-size: 17px;
}

.main-ph .tong h2{
    float: left;
}
.main-ph .tong h3{
    padding-left: 300px;
    padding-top: 16px;
    font-size: 17px;
}
.main-ph .tong form {
    margin-left: 250px;
    margin-bottom: 40px;
}
.main-ph .tong form input{
    font-size: 20px;
    background-color: rgb(67, 124, 248);
    width: 150px;
    height: 50px;
    border-radius: 5px;
    color: white;
}
.main-ph .tong a{
    text-decoration: none;
    font-size: 15px;
}




.main-ph .vc{
    width: 100%;
    margin-top: 15px;
}
.vc .magg  input{
    margin: 0px;
    padding: 10px;
}
.vc .magg .f1{
    width: 300px;
}
.vc .magg .f2{
    background-color: rgb(67, 124, 248);
    color: white;
}