/* from danhmuc */
.form {
    width: 70%;
    margin-top: 10px ;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    height: auto;

  }
  
  .form-label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .tendanhmuc {
    width: 95%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    display: block;
  }
  
  .tendanhmuc:focus {
    outline: none;
    box-shadow: 0px 0px 5px #4CAF50;
  }
  
  .dongy {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .nhaplai{
    background-color: #2f332f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    margin-right: 30px;
  }
  .ratranglist{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    margin-right: 10px
  }
  .ratranglist a{
    font-size: 16px;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #f2f2f2;
  }
.btn-updm{
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

} 
.updatedm{
  font-size: 16px;
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #f2f2f2;
}
.btn-deletedm{
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

}
.deletedm{
  font-size: 16px;
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #f2f2f2;
  }
.btn-adddm{
  margin-top: 10px;
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.adddm{
  margin-top: 30px;
  font-size: 16px;
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #f2f2f2;
}
  
.tieude{
  
    flex-grow: 1;
    padding: 20px;
  }

  h2 {
    color: #333;
  }
.chondanhmuc select{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-bottom: 20px;
  color: rgb(11, 12, 12);
  margin-left: 400px;
}
.chondanhmuc select option{
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #790c0c;
}